.item {
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition-duration: 100ms;
}

.item:hover {
    transform: translateY(10px);
}

h2 {
    font-size: 28px;
    margin: 0;
}

.text {
    margin-bottom: 20px;
    font-weight: 700;
}

.text p {
    font-size: 16px;
}

.date {
    font-size: 14px;
}

.text.completed {
    text-decoration: line-through;
}

.row {
    display: flex;
    justify-content: space-between;
}

.deleteButton {
    font-size: 20px;
    line-height: 2;
    padding: 0 40px;
    color: red;
    background: var(--secondary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    border-radius: 10px;
    transition-duration: 100ms;
}

.deleteButton:hover {
    background: var(--main-bg-color);
}