.item {
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

h2 {
    font-size: 28px;
    margin: 0;
}

.text {
    margin-bottom: 20px;
    font-weight: 700;
}

.text p {
    font-size: 16px;
}

.date {
    font-size: 14px;
}