.addTodo {
    text-align: center;
}

.addTodoButton {
    display: inline-block;
    font-size: 28px;
    background: var(--secondary-bg-color);
    color: #fff;
    border-radius: 10px;
    padding: 0 40px;
    line-height: 2;
    border: 4px solid var(--secondary-bg-color);
    transition-duration: 100ms;
    margin-bottom: 40px;
}

.addTodoButton:hover {
    background: transparent;
    color: #fff;
}

.deleteGroupButton {
    display: inline-block;
    font-size: 28px;
    background: var(--secondary-bg-color);
    color: red;
    border-radius: 10px;
    padding: 0 40px;
    line-height: 2;
    border: 4px solid var(--secondary-bg-color);
    transition-duration: 100ms;
    margin-bottom: 40px;
}

.deleteGroupButton:hover {
    background: transparent;
    color: red;
}

.buttonsRow {
    display: flex;
    justify-content: space-around;
}