.row__item {
    flex: 33% 0 1;
    padding: 30px;
}

.row__content {
    padding: 60px 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

.row__content:hover {
    transform: translateX(20px);
}

@media (max-width: 1000px) {
    .row__item {
        flex: 50% 0 1;
    }
}