.title {
    font-size: 48px;
}

.header {
    padding: 20px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    font-size: 24px;
    cursor: pointer;
}

h1 {
    cursor: pointer;
}

.logout__row {
    display: flex;
    gap: 20px;
}


.logout__row button {
    color: #fff;
    font-size: 20px;
    padding: 0 30px;
    background: var(--secondary-bg-color);
    border-radius: 10px;
    transition-duration: 100ms;
}

.logout__row button:hover {
    background: #fff;
    color: var(--secondary-bg-color);
}