/* шрифты */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-bg-color: #171627;
    --secondary-bg-color: #2a283f;
    --main-text-color: #fff;
    --main-font: "Nunito";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
}

#root {
  min-height: 100vh;
}

/* Сброс для специфических элементов */
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input, textarea, select {
  font-family: inherit;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}



.container {
    max-width: 1200px;
    margin: 0 auto; 
}
